{% extends parent_template|default:"fish/base_fish.html" %}

{% block title %}
{ { block.super } } - Fishes
{% endblock %}

{% block content %}
    <h2>Fish List</h2>
    <dl><table border="2" cellpadding="8">
        <caption><h3>Fish List</h3></caption>
        <tr>
            <td>Fish Name</td>
            <td>Price</td>
            <td>Location</td>
        </tr>
        {% for fish in fishes %}
        <tr>
            <td>{{ fish.fish_name }}</td>
            <td>{{ fish.fish_value }}</td>
            <td>{{ fish.fish_location }}</td>
        </tr>
        {% endfor %}
    </table></dl>
{% endblock %}
